---
import { classArr } from "~ui/utils/classArr"
import type { MayHaveClass } from "~ui/utils/MayHaveClass"
import type { MayHaveId } from "~ui/utils/MayHaveId"

type ValueDisplayFn = (value: string) => string

export interface Props extends MayHaveId, MayHaveClass {
  initialValue: string
  options: string[]
  optionClass?: string
  valueDisplay?: ValueDisplayFn
  id?: string
  class?: string
}
const p = Astro.props

const getDisplayValue = (itemValue: string, valueDisplay?: ValueDisplayFn) => {
  if (!valueDisplay) return itemValue
  const hasValue = valueDisplay(itemValue)
  if (!hasValue) return itemValue
  return hasValue
}
---

<select
  id={p.id}
  class={classArr(
    "block w-full p-2.5",
    "text-gray-900 dark:text-white text-sm",
    "dark:placeholder-gray-400",
    "bg-gray-50 dark:bg-gray-700",
    "rounded-lg border border-gray-300 dark:border-gray-600",
    "focus:ring-blue-500 focus:border-blue-500 dark:focus:border-blue-500 dark:focus:ring-blue-500",
    p.class,
  )}
  value={p.initialValue}
>
  {
    p.options.map((option: string) => (
      <option value={option} class={p.optionClass} selected={option === p.initialValue}>
        {getDisplayValue(option, p.valueDisplay)}
      </option>
    ))
  }
</select>
