---
import BaseLayout from "@/layouts/BaseLayout.astro"
import BgColorSelect from "@/layout_parts/BgColorSelect.astro"
import Table from "~ui/table/Table.astro"
---

<BaseLayout title="Demo Table">
  <BgColorSelect />

  <h1 class="text-lg font-semibold">Table</h1>
  <Table
    rows={[
      "Row 1 data 1, Row 1 data 2, Row 1 data 3",
      "Row 2 data 1, Row 2 data 2, Row 2 data 3",
      "Row 3 data 1, Row 3 data 2, Row 3 data 3",
    ]}
    columns={[
      { id: "col1", name: "Column 1", cell: (row) => row.split(",")[0]?.trim() ?? "" },
      { id: "col2", name: "Column 2", cell: (row) => row.split(",")[1]?.trim() ?? "" },
      { id: "col3", name: "Column 3", cell: (row) => row.split(",")[2]?.trim() ?? "" },
    ]}
  />
</BaseLayout>
