---
import { mdiInformationOutline, mdiArrowRight } from "@mdi/js"
import BaseLayout from "@/layouts/BaseLayout.astro"
import BgColorSelect from "@/layout_parts/BgColorSelect.astro"
import Icon from "~ui/icon/Icon.astro"
import { classArr } from "~ui/utils/classArr"
---

<BaseLayout title="Demo Icon" class="space-y-4">
  <BgColorSelect />

  <div class="flex items-center gap-4">
    <Icon path={mdiInformationOutline} class="size-6" title="Info icon" />
    <span>Default icon</span>
  </div>

  <div class="flex items-center gap-4">
    <Icon path={mdiArrowRight} class="size-8 fill-blue-500 dark:fill-blue-500" aria-hidden="true" />
    <span>Custom color</span>
  </div>
</BaseLayout>
