---
import { classesCardWrapperP4 } from "~/card/classesCardWrapper"
import { classArr } from "~/utils/ui/classArr"
import { classMerge } from "~/utils/ui/classMerge"

interface Props {
  id?:string
  class?: string
}
const p = Astro.props
---

<div id={p.id} class={classMerge(classesCardWrapperP4, p.class)}>
  <slot />
</div>
