---
import { classesCardWrapperP4 } from "~ui/card/classesCardWrapper"
import { classArr } from "~ui/utils/ui/classArr"
import { classMerge } from "~ui/utils/ui/classMerge"

interface Props {
  id?:string
  class?: string
}
const p = Astro.props
---

<div id={p.id} class={classMerge(classesCardWrapperP4, p.class)}>
  <slot />
</div>
