---
import { classesCardWrapperP4 } from "~/card/classesCardWrapper"
import { classArr } from "~/utils/ui/classArr"
import { classMerge } from "~/utils/ui/classMerge"

interface Props {
  class?: string
}
const props = Astro.props
---

<div class={classMerge(classesCardWrapperP4, props.class)}>
  <slot />
</div>
