---
import { classesTextLink } from "~ui/link/classesTextLink"
import { classArr } from "~ui/utils/ui/classArr"
import { type DemoListType } from "./DemoListType"
import { classMerge } from "~ui/utils/ui/classMerge"

interface Props {
  demos: DemoListType
  urlPrefix?: string
  class?: string
}
const p = Astro.props

// Extract categories and their demo pages
const categories = Object.entries(p.demos)
---

<div class={classMerge("grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4", p.class)}>
  {
    categories.map(([category, pages]) => (
      <section class="bg-white dark:bg-zinc-700 rounded-lg shadow-md p-4 border border-gray-200 dark:border-zinc-600">
        <h2 class="text-xl font-bold mb-2 capitalize">{category.replace(/_/g, " ")}</h2>
        <ul class="list-disc pl-4 space-y-1">
          {pages.map((page) => (
            <li class={classArr(classesTextLink)}>
              <a href={`${p.urlPrefix ?? ""}/${category}/${page}`}>{page.replace(/_/g, " ").replaceAll("demo ", "")}</a>
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</div>
