---
import type { HTMLAttributes } from "astro/types"
import { classesCardWrapperPage } from "~ui/card/classesCardWrapper"
import { classMerge } from "~ui/utils/classMerge"
import PageCentered from "./PageCentered.astro"

interface Props {
  class?: string
  classInner?: string
  restProps?: HTMLAttributes<"div">
}
const p = Astro.props
---

<PageCentered class={p.class} restProps={p.restProps}>
  <div class={classMerge(classesCardWrapperPage, p.classInner)}>
    <slot />
  </div>
</PageCentered>
