---
import { classMerge } from "~ui/utils/ui/classMerge"
import { classesPageCentered } from "./classesPageCentered"

interface Props {
  id?:string
  class?: string
}
const p = Astro.props
---

<div id={p.id} class={classMerge(classesPageCentered, p.class)}>
  <slot />
</div>
