---
import { classMerge } from "~/utils/ui/classMerge"
import { classesPageCentered } from "./classesPageCentered"
import type { MayHaveClass } from "~/utils/ui/MayHaveClass"

interface Props extends MayHaveClass {
  id?: string
}
const p = Astro.props
---

<div id={p.id} class={classMerge(classesPageCentered, p.class)}>
  <slot />
</div>
