---
import { classMerge } from "@/ui/utils/classMerge"

interface Props {
  title?: string
  href: string
  newTab?: boolean
  class?: string
}
const props = Astro.props
const title = props.title
const href = props.href
const newTab = props.newTab
---

<a
  href={href}
  class={classMerge("text-blue-500 no-underline hover:underline", props.class)}
  target={newTab ? "_blank" : undefined}
  title={title}
>
  <slot/>
</a>
