---
import BaseLayout from "@/app/layouts/BaseLayout.astro"
import BgColorSelect from "@/app/layout_parts/BgColorSelect.astro"
import CardWrapper from "~ui/card/CardWrapper.astro"
import { classArr } from "~ui/utils/classArr"
---

<BaseLayout title="Demo Card">
  <BgColorSelect/>

  <div class={classArr("mt-4")}>
    <CardWrapper id="demo-card" class="p-4">
      This is card content.
    </CardWrapper>
  </div>
</BaseLayout>
