---
import { classesBg100 } from "~/page/classesBg100"
import Select from "~/select/Select.astro"

const options = Object.keys(classesBg100)
---

<div class="mb-4">
  <p>Select a background color for the page:</p>
</div>

<div class="mb-4">
  <Select initialValue="white" options={options} id="bg-select" />
</div>

<script define:vars={{ classesBg100 }}>
  const select = document.getElementById("bg-select")
  const mainElement = document.getElementById("main")

  // Get existing classes and add new background class
  select.addEventListener("change", (e) => {
    const value = e.target.value
    const bgClass = classesBg100[value]
    // const previousClasses = mainElement.className
    const baseClasses = "relative min-h-dvh w-full flex flex-col items-center"
    const newClasses = `${baseClasses} ${bgClass}`

    mainElement.className = newClasses
  })
</script>
