---
import Icon1 from "~/icon/Icon1.astro"
import { classArr } from "~/utils/ui/classArr"
import { classMerge } from "~/utils/ui/classMerge"
import { mdiChevronDown } from "@mdi/js"
import type { MayHaveClass } from "~/utils/ui/MayHaveClass"

interface Props extends MayHaveClass {
  icon?: string
  title?: string
  subtitle?: string
  summaryClass?: string
}
const p = Astro.props
const icon = p.icon
const title = p.title
const subtitle = p.subtitle
const hasSummary = Astro.slots.has("summary")
---

<details
  class={classMerge(
    "group",
    "bg-white dark:bg-gray-800",
    "rounded-lg border border-gray-200",
    "shadow-sm",
    "overflow-hidden",
    p.class,
  )}
>
  <summary
    class={classArr(
      "flex flex-col sm:flex-row items-center justify-between gap-4",
      "p-4 sm:p-6",
      "cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700 transition-colors",
      p.summaryClass,
    )}
  >
    {
      !hasSummary && title && (
        <>
          {icon && <Icon1 path={icon} class="size-7 mt-1" />}
          <div class="flex-1">
            <h3 class={"text-xl font-semibold"}>{title}</h3>
            {subtitle && <p class={"text-muted-foreground mt-1"}>{subtitle}</p>}
          </div>
        </>
      )
    }
    <slot name="summary" />
    <Icon1
      path={mdiChevronDown}
      class={classArr("size-7", "text-gray-400 dark:text-gray-600", "transition-transform group-open:rotate-180")}
    />
  </summary>
  <slot />
</details>
