---
import { classMerge } from "~/utils/ui/classMerge"
import { type TableColumnDef } from "./TableColumnDef"
import TableMEntry from "./TableMEntry.astro"
import type { MobileTableClassses } from "~/table/MobileTableClassses"
import type { MayHaveClass } from "~/utils/ui/MayHaveClass"

interface Props extends MayHaveClass {
  rows: string[]
  noEntriesText?: string
  columns: TableColumnDef[]
  mobileClasses?: MobileTableClassses
}
const props = Astro.props
const rows = props.rows
const columns = props.columns
const c = props.mobileClasses
---

<div class={classMerge("flex w-full flex-col flex-wrap gap-8", props.class, c?.class)}>
  {rows.map((row: string, y: number) => <TableMEntry row={row} columns={columns} mobileClasses={c} />)}
</div>
