---
import { classesGridCols2sm } from "~ui/grid/classesGridCols"
import { classesBg100 } from "~ui/page/classesBg100"
import Select from "~ui/select/Select.astro"
import { classArr } from "~ui/utils/classArr"

const options = Object.keys(classesBg100)
---

<div class={classArr("flex", "items-center", "justify-center", "gap-4", "mb-4")}>
  <p>Select a bg color</p>
  <Select initialValue="orange" options={options} id="bg-select" class="max-w-[20ch]" />
</div>

<script define:vars={{ classesBg100 }}>
  const select = document.getElementById("bg-select")
  const mainElement = document.getElementById("main")

  // Get existing classes and add new background class
  select.addEventListener("change", (e) => {
    const value = e.target.value
    const bgClass = classesBg100[value]
    // const previousClasses = mainElement.className
    const baseClasses = "relative min-h-dvh w-full"
    const newClasses = `${baseClasses} ${bgClass}`
    mainElement.className = newClasses
  })
</script>
