---
import Icon from "~ui/icon/Icon.astro"
import { buttonVariant, type ButtonVariant, buttonCva2 } from "~ui/button/buttonCva"
import { classArr } from "~ui/utils/classArr"
import { setupPopoverListeners } from "./setupPopoverListeners"

interface Props {
  id: string
  icon?: string
  title: string
  variant?: ButtonVariant
  class?: string
  innerClass?: string
}

const p = Astro.props
const summaryClasses = buttonCva2(
  p.variant ?? buttonVariant.link,
  null,
  "flex flex-wrap gap-2",
)
---

<details
  id={p.id}
  class={classArr(
    "relative",
    "popover-details", // used by popover
    p.class,
  )}
>
  <summary class={summaryClasses}>
    {p.icon && <Icon path={p.icon} />}
    {p.title}
  </summary>
  <div
    class={classArr(
      "absolute", // layout
      "bg-white dark:bg-gray-800", // background
      "border border-gray-300 dark:border-gray-600 rounded shadow-lg", // borders/shadows
      "p-2 mt-1", // spacing
      "z-10", // z-index
      p.innerClass,
    )}
  >
    <slot />
  </div>
</details>

<script>
  import { setupPopoverListeners } from "./setupPopoverListeners"
  setupPopoverListeners()
</script>
