---
import BaseLayout from "@/layouts/BaseLayout.astro"
import BgColorSelect from "@/layout_parts/BgColorSelect.astro"
import LinkText from "~ui/link/LinkText.astro"
import { classArr } from "~ui/utils/classArr"
---

<BaseLayout title="Demo LinkText">
  <BgColorSelect />

  <div class={classArr("mt-4 space-y-6")}>
    <div class="space-y-2">
      <h3 class="text-lg font-semibold">Default Text Link</h3>
      <LinkText href="/"> This is a default text link </LinkText>
    </div>
  </div>
</BaseLayout>
