---
import { classMerge } from "@/utils/ui/classMerge"
import PageCentered from "./PageCentered.astro"
import { classesCardWrapperPage } from "@/card/classesCardWrapper"

interface Props {
  class?: string
  classInner?: string
}
const props = Astro.props
---

<PageCentered class={props.class}>
  <div class={classMerge(classesCardWrapperPage, props.classInner)}>
    <slot />
  </div>
</PageCentered>
