---
import { classMerge } from "~/utils/ui/classMerge"
import { classesPageCentered } from "./classesPageCentered"

interface Props {
  class?: string
}
const props = Astro.props
---

<div class={classMerge(classesPageCentered, props.class)}>
  <slot />
</div>
