---
import BaseLayout from "@/app/layouts/BaseLayout.astro"
import BgColorSelect from "@/app/layout_parts/BgColorSelect.astro"
import Fieldset from "~ui/form/Fieldset.astro"
import { classArr } from "~ui/utils/classArr"
---

<BaseLayout title="Demo Fieldset">
  <BgColorSelect />

  <Fieldset title="Example Fieldset" class="max-w-md">
    <p>abc</p>
  </Fieldset>
</BaseLayout>
