
(shared_config_astro_ui) {
	handle_path /images/* {
		rewrite * {path}
		root * /home/david/Coding/adaptive-astro-ui/public-images
		file_server
		header {
			Routed "astro-images"
			Cache-Control "public, max-age=60, immutable"
		}
	}
}

astro-ui.com {
	import shared_config_web
	import shared_config_astro_ui
	header {
		Routed "astro"
	}
	reverse_proxy localhost:3030
}

dist.astro-ui.com {
	import shared_config_web
	import shared_config_astro_ui
	import shared_config_caching
	header {
		Routed "astro-dist"
	}
	root * /home/david/Coding/adaptive-astro-ui/dist
	file_server
}
