---
import { mdiCircle } from "@mdi/js"
import { classMerge } from "~/utils/ui/classMerge"
import TextOrLink from "./TextOrLink.astro"
import Icon1 from "~/icon/Icon1.astro"

interface Props {
  points: string[] | Readonly<string[]>
  class?: string
  classText?: string
  classBullet?: string
}
const props = Astro.props
---

{
  props.points.map((p) => (
    <div class={classMerge("flex flex-row flex-nowrap", props.class)}>
      <Icon1 path={mdiCircle} class={classMerge("w-1.5 h-1.5 mt-3 mx-1.5 shrink-0", props.classBullet)} />
      <TextOrLink text={p} class={props.classText} />
    </div>
  ))
}
