---
import { mdiCircle } from "@mdi/js"
import { classMerge } from "~ui/utils/classMerge"
import TextOrLink from "./TextOrLink.astro"
import Icon from "~ui/icon/Icon.astro"

interface Props {
  points: string[] | Readonly<string[]>
  class?: string
  classText?: string
  classBullet?: string
}
const props = Astro.props
---

{
  props.points.map((p) => (
    <div class={classMerge("flex gap-1", props.class)}>
      <Icon path={mdiCircle} class={classMerge("size-1.5 mt-2.5 shrink-0", props.classBullet)} />
      <TextOrLink text={p} class={props.classText} />
    </div>
  ))
}
