---
import { mdiCircle } from "@mdi/js"
import Icon from "~ui/icon/Icon.astro"
import { classMerge } from "~ui/utils/classMerge"
import TextOrLink from "./TextOrLink.astro"

interface Props {
  points: string[] | Readonly<string[]>
  class?: string
  classText?: string
  classBullet?: string
}
const p = Astro.props
---

{
  p.points.map((point) => (
    <div class={classMerge("flex gap-1", p.class)}>
      <Icon path={mdiCircle} class={classMerge("size-1.5 mt-2.5 shrink-0", p.classBullet)} />
      <TextOrLink text={point} class={p.classText} />
    </div>
  ))
}
