---
import { mdiCheck } from "@mdi/js"
import { classMerge } from "~/utils/ui/classMerge"
import TextOrLink from "./TextOrLink.astro"
import Icon1 from "~/icon/Icon1.astro"
import type { MayHaveClass } from "~/utils/ui/MayHaveClass"

interface Props extends MayHaveClass {
  point: string
  classText?: string
  classBullet?: string
}
const p = Astro.props
---

<div class={classMerge("flex flex-row flex-nowrap", p.class)}>
  <Icon1 path={mdiCheck} class={classMerge("fill-green-600 dark:fill-green-600 mr-1 flex-none", p.classBullet)} />
  <TextOrLink text={p.point} class={p.classText} />
  <slot />
</div>
