---
import { classMerge } from "~/utils/ui/classMerge"
import type { MayHaveClass } from "~/utils/ui/MayHaveClass"

interface Props extends MayHaveClass {
  points: string[] | Readonly<string[]>
  classText?: string
}
const props = Astro.props
---

<ol class={classMerge("list-decimal", props.class)} style={{ paddingInlineStart: "18px" }}>
  {props.points.map((l) => <li class={props.classText}>{l}</li>)}
</ol>
