---
import type { MayHaveClass } from "~ui/utils/MayHaveClass"

interface Props extends MayHaveClass {
  text?: string
  lines?: string[]
  class?: string
}
const p = Astro.props
const lines = p.lines ?? (p.text ? p.text.split("\n") : [])
---

<>
  {lines.map((line) => <p class={p.class}>{line}</p>)}
</>
