---
import type { MayHaveClass } from "~/utils/ui/MayHaveClass"

interface Props extends MayHaveClass {
  lines: string[] | Readonly<string[]>
}
const props = Astro.props
const lines = props.lines
---

<>
  {lines.map((line) => <p class={props.class}>{line}</p>)}
</>
