---
import LinkText from "~/link/LinkText.astro"
import { classMerge } from "~/utils/ui/classMerge"
import type { MayHaveClass } from "~/utils/ui/MayHaveClass"

interface Props extends MayHaveClass {
  text: string
}
const props = Astro.props
const text = props.text
---

{
  text.startsWith("http") ? (
    <LinkText href={text}>{text}</LinkText>
  ) : (
    <p class={classMerge("leading-relaxed", props.class)}>{text}</p>
  )
}
