---
import { mdiCheck } from "@mdi/js"
import { classMerge } from "@/utils/ui/classMerge"
import Icon1 from "@/icon/Icon1.astro"
import TextOrLink from "./TextOrLink.astro"

interface Props {
  points: string[] | Readonly<string[]>
  class?: string
  classText?: string
  classBullet?: string
}
const props = Astro.props
---

{
  props.points.map((p) => (
    <div class={classMerge("flex flex-row flex-nowrap", props.class)}>
      <Icon1 path={mdiCheck} class={classMerge("fill-green-600 dark:fill-green-600 mr-1 flex-none", props.classBullet)} />
      <TextOrLink text={p} class={props.classText} />
    </div>
  ))
}
