---
import LinkText from "@/link/LinkText.astro"
import { classMerge } from "@/utils/ui/classMerge"

interface Props {
  text: string
  class?: string
}
const props = Astro.props
const text = props.text
---

{
  text.startsWith("http") ? (
    <LinkText href={text}>{text}</LinkText>
  ) : (
    <p class={classMerge("leading-relaxed", props.class)}>{text}</p>
  )
}
